CREATE OR REPLACE FUNCTION bench1(text, integer) RETURNS int8 AS 'PRIMAL_EXT_SO_PATH' LANGUAGE C STRICT;
CREATE OR REPLACE FUNCTION p_julia_init() RETURNS int8 AS 'PRIMAL_EXT_SO_PATH' LANGUAGE C STRICT;
CREATE OR REPLACE FUNCTION p_julia_done() RETURNS int8 AS 'PRIMAL_EXT_SO_PATH' LANGUAGE C STRICT;
CREATE OR REPLACE FUNCTION p_julia_eval(text) RETURNS text AS 'PRIMAL_EXT_SO_PATH' LANGUAGE C STRICT;
CREATE OR REPLACE FUNCTION p_julia_api_call(IN request text, OUT message text) RETURNS SETOF text AS 'PRIMAL_EXT_SO_PATH' LANGUAGE C STRICT;
CREATE OR REPLACE FUNCTION ttt1() RETURNS int8 AS 'PRIMAL_EXT_SO_PATH' LANGUAGE C STRICT;
CREATE OR REPLACE FUNCTION ttt2(OUT c1 int8, OUT c2 int8, OUT c3 int8) RETURNS SETOF record AS 'PRIMAL_EXT_SO_PATH' LANGUAGE C STRICT;
