[submodule "dev/HTTP.jl"]
	path = dev/HTTP.jl
	url = https://github.com/PrimalHQ/HTTP.jl
[submodule "dev/ReadWriteLocks.jl"]
	path = dev/ReadWriteLocks.jl
	url = https://github.com/PrimalHQ/ReadWriteLocks.jl
[submodule "bech32"]
	path = bech32
	url = https://github.com/sipa/bech32
[submodule "ws-connector/pgwire"]
	path = ws-connector/pgwire
	url = git@github.com:sunng87/pgwire.git
